#wall .tag-1 {

  display: none;
}

body #wall #tag-2 {
  display: none;
}

body div#tag-2 + div#tag-3.slick {
display: none;}

#wall .parent > #tag-4 {
  background: url(../images/tag-4.png) no-repeat;
  z-index: 4;
  display: none;;
}

body div#wall .parent > #tag-5.slick:first-child { display:none;}



body div#wall .parent div:last-child > div#tag-6:only-child {
display: none;
}

body div#wall div.parent > div > #tag-7.slick:only-child {
  background: url(../images/tag-7.png) no-repeat;
  z-index: 1;
  display: none;
}
